
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <section id="blog">
    <h2 class="title">Blog</h2>
    <div class="blog__posts">
        <div style="margin:20px;" class="post">
            <img src="images/travel.jpg">
            <div class="post__text">
                <span>Dec 11, 2020</span>
                <h4>Travel Blog Post</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium natus expedita iste, molestias id minima?</p>
                <button>Read more <i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
        <div style="margin:20px;" class="post">
            <img src="images/coffee.jpg">
            <div class="post__text">
                <span>Dec 11, 2020</span>
                <h4>Coffee Blog Post</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium natus expedita iste, molestias id minima?</p>
                <button>Read more <i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
        <div style="margin:20px;" class="post">
            <img src="images/home.jpg">
            <div class="post__text">
                <span>Dec 11, 2020</span>
                <h4>Home Blog Post</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium natus expedita iste, molestias id minima?</p>
                <button>Read more <i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="load__more">
        <button> LOAD MORE</button>
    </div>


</section>


</body>
</html>