
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h5 style="margin-top:20px;text-align:center;"> Top sell</h5>
<div class="card" style="margin-bottom:20px; margin-top:20px; ">
    <div class="img__gallery" id="arrive1">
        <img src="images/grid1.jpg">
        <div class="fa-stack fa-lg " style="position:absolute;font-size:0.8rem;top:0px;right:45px;">
            <i class="fa fa-certificate fa-2x" style="margin-top:10px;color:red; position:absolute;"></i>
            <i class="fa fa-1x fa-tag fa-inverse" style="margin-top:10px;color:white;position:absolute;padding:1px 8px"></i>
        </div> <p style="position:absolute;font-size:0.8rem;top:0px;right:0px;margin-top:10px;margin-bottom:0px;color:red">-97%</p>

        <h6  style="margin-bottom:2px;right:3px ;bottom:3px;position:absolute;font-size:11px;"><strong>¥2000.50~</strong></h6>


        <div class="overlay">
            <button style="font-size:13px" class="quick_view">Quick View</button>
            <button style="font-size:13px">Add to Cart</button>

        </div>
    </div>
</div>


</body>
</html>