<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div id="wrapper" th:fragment="mynavi" >
        <div class="contact-board">

            <a href="#"><i class="fa fa-phone"> </i> 07000000</a>
            &nbsp;&nbsp;
            <a href="#"><i class="fa fa-envelope"></i> abc@gimail.com</a>

        </div>
        <div class="topnav">
            <img class ="logo" src="#" alt ="logo">
            <ul class ="nav-links">
                <li> <a href="/">Home page</a></li>
                <li> <a href="/">Catalogue</a></li>
                <li> <a href="/">blog</a></li>
                <li> <a href="/">Contact</a></li>
                <li> <a href="/">Log in</a></li>

            </ul>

        </div>
    </div>

</body>
</html>